@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0:#D1ACA0;
    --cor1:#E7DED5;
    --cor2:#C5CEC6;
    --cor3:#BB9988;
    --cor4:#618F8A;
    --fontB:'Roboto';
    --fontM:'Mea Culpa';
}
body{
    background-color:var(--cor1);
    font-family: var(--fontB),Arial, Helvetica, sans-serif;
}
header{
    background-image:url('../img/pexels-fauxels-3184418.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    height:500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 5rem;
    color:var(--cor2);
}
header h4{
    font-size: 2rem;
    color:var(--cor1);
}
header button{
    background-color: var(--cor4);
    border:none;
    border-radius:50px;
    padding:15px;
    width: 175px;
    height: 40px;
    box-sizing: border-box;
}
header button:active{
    transform: translateY(4px);
}
#menu ul{
    list-style: none;
    background-color: var(--cor1);
    font-family: var(--fontM),Arial, Helvetica, sans-serif;
    height: 35px;
    padding: 0px;
    margin:0px;
    font-size: 1.6rem;
    font-weight: bold;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    text-decoration:none;
    color:var(--cor3);
    float: right;
    padding: 4px 12px;
}
#menu ul li a:hover{
    color:var(--cor4);
    border-bottom: 3px solid var(--cor0);
}
main{
    margin:auto;
    padding: 15px;
    font-size: 1.4rem;
    text-align: center;
}
main img{
    width: 100%;
}
section{
    width: 100%;
}
.article1{
    height: 400px;
    font-size: 1.1em;
    line-height: 2em;

}
.article1 button{
    border:2px solid var(--cor4);
    outline: none;
    padding: 15px;
    width: 175px;

}
.article1 button:active{
    transform: translateY(4px);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{
    width: 250px;
    height: 250px;
    

    margin: 5px;
    border:5px solid black;
}
.box hr{
    border: 2px solid black;
}
.box p{
    padding: 5px;
    margin:10px;
}
#parallax{
    background-image:url('../img/pexels-fauxels-3183198.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 10px;
    height: 500px;
}

.box button{
    border:none;
    outline: none;
    width: 100px;
    height: 40px;
    background-color: var(--cor4);
    color: var(--cor2);
}
.box button:active{
    transform: translatey(4px);
}
footer{
    background-color: var(--cor3);
    height: 300px;
    font-size: 2em;
    text-align: center;
    line-height: 2em;
}
@media screen and (max-width:900px)   {
    .container{
        margin:100px;
        display:block;
        height:800px;
    }
    #parallax{
        margin-top: 410px;
        margin-bottom: 410px;
    }
    footer{
        height: 100%;
    }
}